body
{
background-image: url(../image/concrete-texture.png);
background-repeat: repeat;
font-family: Arial, Helvetica, sans-serif;
line-height:30px;
color:#777777;
font-size:20px;
font-weight:200;
}

header{
 padding:40px;
 margin-bottom:40px;
 border-bottom: 2px solid #cccccc;
 background: #ffffff;
 width:100%;
 text-align:centre;
 color:#ffffff;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.centeredDiv
{
width:960px;
margin:0 auto;
}

h1{
background:  #4aaaa5;
color:#ffffff;
border: 1px solid #ffffff;
padding : 40px;
float: left;
margin-right:360px;
margin-left:-40px;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 1000;
margin-top:-40px;
   
}

ul
{
width:10000px;
}

ul li
 {
   
display:inline-block;
padding-right:20px;
border-right:1px solid #cccccc;
margin-left:10px;
}

ul li a 
{
color: #777777;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;

}   


section
{
background: #ffffff;
margin:0 auto;
width:890px;
border: 1px solid #dddddd;
height: 435px;
padding: 33px;
    
}

.portfolio-section
{
    height: 965px; 
    position: relative;
}


h2
{
color:#4aaaa5;
font-size :35px;
font-weight: bold;
padding:20px;
font-family:Georgia, 'Times New Roman', Times, serif;
}

#contact
{

    border-right:0px;
}


.myimage
{
float:left;
margin-right:20px;
margin-top:5px;
margin-bottom:5px;
height:150px;
width:200px;

}

p{
margin:20px;
}

label{
    padding-right:830px;
    padding-top:18px;
}
#message-textarea {
    height: 110px;
}
textarea{
    width: 890px;
}

button{

background:  #4aaaa5;
color:#ffffff;
border: 1px solid #ffffff;
padding:10px 20px 10px 20px ;
}

hr{
    align-items:left;
    width:890px;

}


figure
{
    position:relative;
   
    float: left;
    width: 270px;
    margin:20px 30px 30px 0px;
}


.absolute-text{
    position:absolute;
    bottom: 20px;
    z-index: 2;
    background: #4aaaa5;
    padding:20px; 
    text-align: center;
    color:#fff;
    width: 230px;
}


footer{
padding:30px;
margin-top:114px;
border-top: 8px solid #4aaaa5;
border-bottom:6px solid #000000;
background: #666666;
width:100%;

}
.portfolio-image
{
   
    height:250px;
    width:270px;
   
}


